.navigation {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 51px;
    left: 0;
    height: calc(100vh - 51px);
    background-color: #f4f4f4;
    border-right: 1px solid #eaeaea;
    z-index: 100;

    img {
        width: 16px;
        height: 16px;
    }
}

.navigation__toggle-btn {
    position: absolute;
    top: 10px;
    left: 9px;
    z-index: 10;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid transparent;

    img {
        padding: 8px;
    }

    &:hover {
        background-color: #fafafa;
        border: 1px solid #eaeaea;
    }
}

#navigation__toggle-input {
    display: none;
}

#navigation__toggle-input:checked ~ .navigation {
    & .navigation__content,
    & .navigation__add-list {
        width: 50px;

        @media screen and (min-width: $mobile) {
            width: 290px;
        }
    }

    & .navigation__context {
        width: 50px;

        .navigation__context__list__item {
            width: 100%;
        }

        @media screen and (min-width: $mobile) {
            width: 290px;

            .navigation__context__list__item {
                width: calc(100% / 5);
            }
        }
    }
}

#navigation__toggle-input:checked ~ .navigation__backdrop {
    display: none;

    @media screen and (min-width: $mobile) {
        display: none;
    }
}

.navigation__content,
.navigation__context,
.navigation__add-list {
    width: 290px;
    transition: width 0.12s ease;

    @media screen and (min-width: $mobile) {
        width: 50px;
    }
}

.navigation__content {
    padding-top: 60px;
    margin-bottom: 36px;
    overflow: hidden;

    .navigation__content__list {
        width: 290px;
        max-height: 198px;
        overflow-y: auto;
    }

    .navigation__content__list__item {
        display: flex;
        align-items: center;
        padding: 0 17px;
        height: 36px;
        cursor: pointer;

        .navigation__content__list__item__text {
            margin-left: 20px;
            font-size: 1.5rem;
        }

        &:hover {
            background-color: #fafafa;
        }
    }
}

.navigation__add-list {
    overflow: hidden;

    .navigation__add-list__inner {
        position: relative;
        width: 290px;
        padding: 0 17px;
        box-sizing: border-box;

        input {
            width: 100%;
            height: 36px;
            background-color: transparent;
            padding: 0 40px;
            box-sizing: border-box;
            outline: none;
            font-size: 1.5rem;

            &::placeholder {
                color: #005a9e;
            }
        }

        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid transparent;
            border-radius: 3px;

            &:hover {
                background-color: #fafafa;
                border: 1px solid #eaeaea;
            }

            &:first-child {
                left: 11px;
            }
            &:last-child {
                right: 11px;
                @include tooltip("left", "그룹 만들기");
            }
        }
    }
}

.navigation__context {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #f4f4f4;

    .navigation__context__list {
        display: flex;
        flex-wrap: wrap;
    }
    .navigation__context__list__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 5);
        height: 36px;
        cursor: pointer;

        &:hover {
            background-color: #fafafa;
        }

        @media screen and (min-width: $mobile) {
            width: 100%;
        }
    }
}

.navigation__backdrop {
    position: fixed;
    display: block;
    top: 51px;
    left: 0;
    width: 100%;
    height: calc(100vh - 51px);
    background-color: rgba(178, 178, 178, 0.3);
    z-index: 90;

    @media screen and (min-width: $mobile) {
        display: none;
    }
}
